// =======================================
// IE 9 only 지원
// =======================================
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {

/* --------------------------------------------------------------------------------------
 03_웹공유_01진척도점검_02기본선택
 (kyowon-smart-redpen/html/remote-check-progress-base.html)
--------------------------------------------------------------------------------------- */
    .check-progress-base {
        .container {
            .content {
                .progress-set {
                    [class^="progress-"] {
                        .wrap {
                            .progress {
                                progress {
                                    position: relative;
                                    span {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        display: inline-block !important;
                                        // Class width 값 제어 Percent 반복문
                                        $percent: 100;
                                        @for $i from 1 through $percent {
                                            &.w#{$i} {
                                                width: $i + %;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

// =======================================
// IE10 and IE11 지원
// =======================================
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

/* --------------------------------------------------------------------------------------
 03_웹공유_01진척도점검_02기본선택
 (kyowon-smart-redpen/html/remote-check-progress-base.html)
--------------------------------------------------------------------------------------- */
    .check-progress-base {
        .container {
            .content {
                .progress-set {
                    [class^="progress-"] {
                        .wrap {
                            .item-box {
                                .progress {
                                    .icon-percent {
                                        top: -14px !important;
                                    }
                                }
                            }
                            .item-list {
                                ul {
                                    li {
                                        .progress {
                                            .icon-percent {
                                                top: -2px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}