/* --------------------------------------------------------------------------------------
 03_웹공유_01진척도점검_01전체_01,
 03_웹공유_01진척도점검_01전체_02,
 03_웹공유_01진척도점검_01전체_03,
 03_웹공유_01진척도점검_01전체_04,
 03_웹공유_01진척도점검_01전체_05
 (kyowon-smart-redpen/html/remote-check-progress-all.html)
--------------------------------------------------------------------------------------- */
.check-progress-all {
    .container {
        .content {
            .progress-set {
                position: relative;
                width: 100%;
                height: 208px;
                border-bottom: 2px solid #e5e5e5;
                margin-top: 18px;
                .progress-percent {
                    float: left;
                    height: inherit;
                }
                .progress-graph {
                    float: right;
                    height: inherit;
                }
            }
        }
    }
}
.check-progress-all {
    .container {
        .content {
            .progress-set {
                .progress-percent {
                    [class^="percent-"] {
                        position: absolute;
                        left: 0;
                    }
                    .percent-0 {
                        top: 6px;
                    }
                    .percent-20 {
                        top: 4px;
                    }
                    .percent-40 {
                        top: -7px;
                    }
                    .percent-80 {
                        top: 19px;
                    }
                    .percent-100 {
                        top: 11px;
                    }
                }
            }
        }
    }
}
.check-progress-all {
    .container {
        .content {
            .progress-set {
                .progress-percent {
                    min-width: 326px;
                    .percent {
                        position: absolute;
                        left: 0;
                        bottom: 54px;
                        span {
                            display: inline-block;
                            height: 54px;
                            line-height: 54px;
                            vertical-align: top;
                            &.number {
                                width: 110px;
                                text-align: center;
                                font-size: rem(50px);
                                font-weight: bold;
                                color: #fff;
                                background: #622f0a;
                                border-radius: 10px;
                            }
                            &:nth-of-type(2) {
                                font-size: rem(29px);
                                color: #622f0a;
                                padding-left: 5px;
                            }
                        }
                    }
                }
                .progress-graph {
                    min-width: 514px;
                }
            }
        }
    }
}
.check-progress-all {
    .container {
        .content {
            .progress-graph {
                p {
                    &.percent {
                        font-size: rem(16px);
                        margin-top: 10px;
                        span {
                            &:nth-of-type(1) {
                                margin-left: 14px;
                            }
                            &:nth-of-type(2) {
                                margin-left: 190px;
                            }
                            &:nth-of-type(3) {
                                margin-left: 170px;
                            }
                        }
                    }
                }
                .graph {
                    position: relative;
                    top: 4px;
                    width: 514px;
                    height: 125px;
                    background: url("../../assets/images/common/progress-graph.png") no-repeat;
                    [class^="percent-"] {
                        position: absolute;
                        top: 13px;
                        left: 13px;
                        z-index: 1;
                    }
                    [class^="percent-tool-"] {
                        position: absolute;
                        top: 0;
                        z-index: 2;
                        &.percent-tool-20 {
                            left: 86px;
                        }
                        &.percent-tool-40 {
                            left: 172px;
                        }
                        &.percent-tool-80 {
                            left: 344px;
                        }
                        &.percent-tool-100 {
                            left: 430px;
                        }
                    }
                }
            }
        }
    }
}
.check-progress-all {
    .container {
        .content {
            .item-title {
                float: left;
                .sub-title {
                    margin-top: 18px;
                    margin-left: 10px;
                }
            }
            .btn-island-go {
                float: right;
                width: 400px;
                height: 63px;
                font-size: rem(20px);
                font-weight: bold;
                color: #fff;
                margin-right: 11px;
                margin-bottom: 20px;
                background: url("../../assets/images/bg/bg-btn-go.png") no-repeat;
            }
        }
        .item-table {
            width: 821px;
            height: 141px;
            margin: 0 auto;
            clear: both;
            ol {
                li {
                    float: left;
                    width: 20%;
                    text-align: center;
                }
                &.title {
                    height: 30px;
                    line-height: 30px;
                    background: url("../../assets/images/bg/bg-item-table.png") no-repeat;
                    li {
                        font-size: rem(18px);
                        font-weight: bold;
                        color: #fff;
                    }
                }
                &.item-box {
                    height: 110px;
                    li {
                        height: inherit;
                        border-right: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        background: url("../../assets/images/common/item-default.png") no-repeat;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &:first-child {
                            border-left: 1px solid #ccc;
                        }

                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------
 03_웹공유_01진척도점검_03교과서단짝_01저학년,
 03_웹공유_01진척도점검_03교과서단짝_02고학년
 (kyowon-smart-redpen/html/remote-check-progress-textbook.html)
--------------------------------------------------------------------------------------- */
.check-progress-textbook {
    &.remote {
        .container {
            .content {
                .table-type {
                    thead {
                        tr {
                            th {
                                height: 27px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            th {
                                font-size: rem(16px);
                                height: 96px;
                                line-height: 17px;
                                vertical-align: middle;
                                background: #fff5e6;
                            }
                            td {
                                font-size: rem(14px);
                                vertical-align: top;
                                .wrap {
                                    padding: 10px;
                                    p {
                                        font-weight: bold;
                                    }
                                    .day {
                                        color: #f24a71;
                                    }
                                    .learning {
                                        margin-top: 13px;
                                        span {
                                            display: block;
                                            width: 50px;
                                            height: 18px;
                                            line-height: 18px;
                                            font-size: rem(13px);
                                            color: #fff;
                                            letter-spacing: -0.03em;
                                            background: #ff8550;
                                            border-radius: 9px;
                                            margin: 0 auto;
                                        }
                                    }
                                    .date {
                                        color: #7c4e29;
                                        margin-top: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------
 03_화상관리_02학습진척도_03교과서단짝_01저학년,
 03_화상관리_02학습진척도_03교과서단짝_02고학년
 (kyowon-smart-redpen/html/full-check-progress-textbook.html)
--------------------------------------------------------------------------------------- */
.check-progress-textbook {
    &.remote-full {
        .container {
            .content {
                .table-type {
                    thead {
                        tr {
                            th {
                                height: 50px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            th {
                                font-size: rem(18px);
                                height: 110px;
                                line-height: 20px;
                                vertical-align: middle;
                                background: #fff5e6;
                            }
                            td {
                                font-size: rem(16px);
                                vertical-align: top;
                                .wrap {
                                    padding: 10px;
                                    p {
                                        font-weight: bold;
                                    }
                                    .day {
                                        color: #f24a71;
                                    }
                                    .learning {
                                        margin-top: 13px;
                                        span {
                                            display: block;
                                            width: 50px;
                                            height: 20px;
                                            line-height: 20px;
                                            font-size: rem(14px);
                                            color: #fff;
                                            letter-spacing: -0.03em;
                                            background: #ff8550;
                                            border-radius: 9px;
                                            margin: 0 auto;
                                        }
                                    }
                                    .date {
                                        font-size: rem(20px);
                                        color: #7c4e29;
                                        margin-top: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* --------------------------------------------------------------------------------------
 03_웹공유_01진척도점검_04주간진단_01저학년,
 03_웹공유_01진척도점검_04주간진단_02고학년
 (kyowon-smart-redpen/html/remote-check-progress-weekly-diagnosis.html)
 03_웹공유_02주간진단분석_01저학년,
 03_웹공유_02주간진단분석_02고학년
 (kyowon-smart-redpen/html/remote-weekly-diagnostic-analysis.html)
--------------------------------------------------------------------------------------- */
.check-progress-weekly-diagnosis {
    &.remote {
        .table-type {
            font-size: rem(14px) !important;
            thead {
                tr {
                    th {
                        height: 50px;
                        line-height: 18px;
                        span {
                            font-weight: normal;
                        }
                        &.full {
                            display: none;
                        }
                        &:nth-of-type(1) {
                            width: 72px;
                        }
                        &:nth-of-type(3) {
                            width: 102px;
                        }
                        &:nth-of-type(7) {
                            width: 106px;
                        }
                        &:nth-of-type(8) {
                            width: 106px;
                        }
                    }
                }
            }
            tbody {
                th {
                    height: 96px;
                    &.row-title {
                        [class^="btn-scoring-results"] {
                            font-size: rem(16px);
                            color: #fff;
                            line-height: 16px;
                            margin: 0 auto;
                            margin-top: 5px;
                            padding-bottom: 4px;
                            @extend .kw-btn;
                            cursor: pointer;
                        }
                        .btn-scoring-results-on {
                            @include sprite($btn-scoring-results-on);
                        }
                        .btn-scoring-results-off {
                            @include sprite($btn-scoring-results-off);
                        }
                    }
                }
                td {
                    font-weight: bold;
                    &:nth-of-type(2) {
                        line-height: 20px;
                    }
                    .badge-praise-sticker {
                        @include sprite($icon-badge-praise-sticker);
                        @extend .kw-icon;
                        margin: 0 auto;
                        text-indent: -9999px;
                    }
                    &.full {
                        display: none;
                        border-left: 0;
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------
 03_화상관리_02학습진척도_04주간진단_01저학년,
 03_화상관리_02학습진척도_04주간진단_02고학년
 (kyowon-smart-redpen/html/full-learning-progress-weekly-diagnosis.html)
--------------------------------------------------------------------------------------- */
.check-progress-weekly-diagnosis {
    &.remote-full {
        .table-title {
            display: none;
        }
        .table-type {
            thead {
                font-size: rem(16px) !important;
                tr {
                    th {
                        height: 50px;
                        line-height: 20px;
                        border-right: 0 !important;
                        border-top-width: 0;
                        border-left-width: 0;
                        border-right-width: 0;
                        border-bottom-width: 1px;
                        span {
                            font-weight: normal;
                        }
                        &.full {
                            display: table-cell;
                        }
                        &:nth-of-type(3) {
                            width: 130px;
                        }
                        &:nth-of-type(7) {
                            width: 130px;
                        }
                        &:nth-of-type(8) {
                            width: 130px;
                        }
                    }
                }
            }
            tbody {
                font-size: rem(18px) !important;
                th {
                    height: 96px;
                    border-right: 0 !important;
                    &.row-title {
                        [class^="btn-scoring-results"] {
                            display: none;
                        }
                    }
                }
                td {
                    font-weight: bold;
                    border-top-width: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                    border-bottom-width: 1px;
                    &:nth-of-type(2) {
                        line-height: 20px;
                    }
                    &.full {
                        display: table-cell;
                    }
                    .badge-praise-sticker {
                        @include sprite($icon-badge-praise-sticker);
                        @extend .kw-icon;
                        margin: 0 auto;
                        text-indent: -9999px;
                    }
                    [class^="btn-scoring-results-full"] {
                        font-size: rem(14px);
                        font-weight: bold;
                        color: #fff;
                        line-height: 1.2;
                        margin: 0 auto;
                        @extend .kw-btn;
                        cursor: pointer;
                    }
                    .btn-scoring-results-full-on {
                        @include sprite($btn-scoring-results-full-on);
                    }
                    .btn-scoring-results-full-off {
                        @include sprite($btn-scoring-results-full-off);
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------
 03_웹공유_01진척도점검_04주간진단_03칭찬딱지모아보기_01,
 03_웹공유_01진척도점검_04주간진단_03칭찬딱지모아보기_02
 (kyowon-smart-redpen/html/remote-check-progress-weekly-compliment.html)
--------------------------------------------------------------------------------------- */
.check-progress-weekly-compliment {
    .container {
        .content {
            padding: 30px 0 30px 50px;
            .wrap {
                @extend %clearfix;
                .fl {
                    width: -webkit-calc( 100% - 388px );
                    width: -moz-calc( 100% - 388px );
                    width: calc( 100% - 388px );
                    h1 {
                        position: relative;
                        margin-bottom: 10px;
                        .receive-badge {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: inline-block;
                            span {
                                &:first-child {
                                    font-size: rem(25px);
                                    font-weight: bold;
                                    color: #f24a71;
                                }
                                &:last-child {
                                    font-size: rem(16px);
                                    font-weight: normal;
                                    color: #888;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.check-progress-weekly-compliment {
    .container {
        .content {
            .wrap {
                .fl {
                    .table-type {
                        width: 100%;
                        tbody {
                            tr {
                                &:first-child {
                                    border-top: 2px solid #555;
                                }
                                th, td {
                                    height: 105px;
                                }
                                th {
                                    width: 60px;
                                    background: #f3f3f3;
                                    border-right: 1px solid #555;
                                }
                                td {
                                    position: relative;
                                    &:before {
                                        display: block;
                                        width: 76px;
                                        height: 76px;
                                        line-height: 76px;
                                        font-size: rem(16px);
                                        font-weight: bold;
                                        color: #fff;
                                        text-align: center;
                                        border-radius: 50%;
                                        background: #f3f3f3;
                                        margin: 0 auto;
                                    }
                                    &:nth-of-type(1) {
                                        &:before {
                                            content: "국어";
                                        }
                                    }
                                    &:nth-of-type(2) {
                                        &:before {
                                            content: "수학";
                                        }
                                    }
                                    &:nth-of-type(3) {
                                        &:before {
                                            content: "사회";
                                        }
                                    }
                                    &:nth-of-type(4) {
                                        &:before {
                                            content: "과학";
                                        }
                                    }
                                    .badge-praise-sticker {
                                        @include wh-center ($position: absolute);
                                        @include sprite($icon-badge-praise-sticker-full);
                                        @extend .kw-icon;
                                        text-indent: -9999px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.check-progress-weekly-compliment {
    .container {
        .content {
            .wrap {
                .fr {
                    position: relative;
                    width: -webkit-calc( 100% - 502px );
                    width: -moz-calc( 100% - 502px );
                    width: calc( 100% - 502px );
                    &:before {
                        position: absolute;
                        top: -2px;
                        left: 35px;
                        display: block;
                        content: "";
                        width: 2px;
                        height: 458px;
                        background: #e5e5e5;
                    }
                    h3 {
                        text-align: center;
                        margin-top: 4px;
                    }
                    .img-box {
                        position: relative;
                        height: 300px;
                        img {
                            @include wh-center ($position: absolute);
                        }
                    }
                    p {
                        color: #333;
                        margin-bottom: 13px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.gray {
                            color: #888;
                        }
                    }
                    pre {
                        color: #333;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}
.check-progress-weekly-compliment {
    &.remote {
        .container {
            .content {
                .wrap {
                    .fl {
                        p.full {
                            display: none;
                        }
                    }
                    .fr {
                        padding: 0 50px 0 70px;
                        p {
                            span {
                                display: inline;
                            }
                            &.full {
                                &:nth-of-type(1) {
                                    display: none;
                                }
                                &:nth-of-type(2) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------------------------
 03_화상관리_02학습진척도_04주간진단_03칭찬딱지모아보기
 (kyowon-smart-redpen/html/full-learning-progress-weekly-compliment.html)
--------------------------------------------------------------------------------------- */

.check-progress-weekly-compliment {
    &.remote-full {
        .container {
            .content {
                padding: 30px 0 30px 30px;
                .wrap {
                    @include layout(11 15px/100px);
                    .fl {
                        @include span(6);
                        h1 {
                            font-size: rem(20px);
                            text-align: center;
                            .receive-badge {
                                span:first-child {
                                    font-size: rem(20px);
                                }
                            }
                        }
                        p {
                            &.full {
                                display: block;
                            }
                            &.messge {
                                font-size: rem(16px);
                                color: #888;
                                text-align: center;
                                margin: 12px 0 21px 0;
                            }
                        }
                    }
                    .fr {
                        h3 {
                            margin-top: 0;
                        }
                        &:before {
                            left: 20px;
                            height: 500px;
                        }
                        padding-left: 55px;
                        padding-right: 30px;
                        @include span(5 last);
                        p {
                            font-weight: bold;
                            text-align: center;
                            &.full {
                                &:nth-of-type(1) {
                                    display: block;
                                    margin-top: 12px;
                                    margin-bottom: 0;
                                }
                                &:nth-of-type(2) {
                                    display: none;
                                    text-align: center;
                                }
                            }
                            span {
                                display: block;
                            }
                        }
                        pre {
                            font-weight: bold;
                            text-align: center;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}