$icon-badge-praise-sticker: -0px -0px 70px 72px;
$icon-badge-scoring-results-off: -118px -0px 48px 48px;
$icon-badge-scoring-results-on: -70px -0px 48px 52px;
$icon-goal-title: -0px -72px 39px 39px;
$btn-next-month: -0px -0px 36px 38px;
$btn-prev-month: -36px -0px 36px 38px;
@mixin sprite-width($sprite) {
	width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
	height: nth($sprite, 4);
}
@function sprite-width($sprite) {
	 @return nth($sprite, 3);
}
@function sprite-height($sprite) {
	 @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
	$sprite-offset-x: nth($sprite, 1);
	$sprite-offset-y: nth($sprite, 2);
	background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
	 @include sprite-position($sprite);
	background-repeat: no-repeat;
	overflow: hidden;
	display: $display;
	@include sprite-width($sprite);
	@include sprite-height($sprite);
}

.kw-icon {
	background-image: url('/assets/images/sprite/sprite-icon.png');
}

.kw-btn {
	background-image: url('/assets/images/sprite/sprite-btn.png');
}
