$btn-clinic-lecture: -200px -0px 52px 56px;
$btn-close: -200px -56px 52px 56px;
$btn-goal-completion: -0px -0px 100px 68px;
$btn-goal-save: -100px -0px 100px 68px;
$btn-month-next: -148px -68px 44px 45px;
$btn-month-prev: -104px -68px 44px 45px;
$btn-next-month: -140px -116px 36px 38px;
$btn-prev-month: -104px -116px 36px 38px;
$btn-scoring-results-full-off: -0px -116px 104px 48px;
$btn-scoring-results-full-on: -0px -68px 104px 48px;
$btn-scoring-results-off: -200px -112px 48px 52px;
$btn-scoring-results-on: -0px -164px 48px 52px;
$icon-answer-full: -136px -355px 64px 64px;
$icon-answer: -314px -355px 49px 49px;
$icon-badge-ok-big: -0px -0px 177px 187px;
$icon-badge-ok-full: -84px -271px 74px 79px;
$icon-badge-ok: -200px -355px 60px 64px;
$icon-badge-praise-sticker-full: -177px -0px 94px 99px;
$icon-badge-praise-sticker: -355px -0px 70px 72px;
$icon-goal-title: -363px -355px 39px 39px;
$icon-korean-full: -168px -187px 84px 84px;
$icon-korean: -68px -355px 68px 68px;
$icon-math-1: -355px -72px 68px 68px;
$icon-math-2: -355px -208px 68px 68px;
$icon-math-full-1: -271px -0px 84px 84px;
$icon-math-full-2: -0px -187px 84px 84px;
$icon-o-and-x: -158px -271px 76px 76px;
$icon-pencil: -425px -92px 22px 18px;
$icon-percent-basic: -425px -34px 31px 34px;
$icon-percent-default: -425px -68px 22px 24px;
$icon-percent-select: -425px -0px 31px 34px;
$icon-progress-basic: -84px -187px 84px 84px;
$icon-progress-select: -0px -271px 84px 84px;
$icon-science-full: -271px -168px 84px 84px;
$icon-science: -355px -276px 68px 68px;
$icon-social-full: -271px -84px 84px 84px;
$icon-social: -0px -355px 68px 68px;
$icon-start-diagnosis: -234px -271px 76px 76px;
$icon-vasleys-full: -177px -99px 86px 84px;
$icon-vasleys: -355px -140px 68px 68px;
$icon-wrong-answer-full: -260px -355px 54px 56px;
$icon-wrong-answer: -310px -271px 42px 44px;
@mixin sprite-width($sprite) {
	width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
	height: nth($sprite, 4);
}
@function sprite-width($sprite) {
	 @return nth($sprite, 3);
}
@function sprite-height($sprite) {
	 @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
	$sprite-offset-x: nth($sprite, 1);
	$sprite-offset-y: nth($sprite, 2);
	background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
	 @include sprite-position($sprite);
	background-repeat: no-repeat;
	overflow: hidden;
	display: $display;
	@include sprite-width($sprite);
	@include sprite-height($sprite);
}

.kw-btn {
	background-image: url('../../assets/images/sprite/sprite-btn.png');
}

.kw-icon {
	background-image: url('../../assets/images/sprite/sprite-icon.png');
}
